@model Aplicacao.Models.Instituicao

@{
    Layout = "_LayoutIES";
}

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.css" />
        <link rel="stylesheet" href="~/font-awesome/css/all.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
        asp-fallback-href="~/font-awesome/css/all.css"
        asp-fallback-test-class="sr-only"
        asp-fallback-test-property="position"
        asp-fallback-test-value="absolute"/>
    </environment>
}

<div class="card">
    <div class="card-header text-white bg-secondary text-center h4">Exibindo uma instituição</div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <label asp-for="Id" class="form-label"></label>
                <br />
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa-solid fa-key" aria-hidden="true"></i>
                    </span>

                    <input asp-for="Id" class="form-control" disabled="disabled" />
                </div>                
            </div>

            <div class="col-md-12">
                <label asp-for="Nome" class="form-label"></label>
                <br />
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa-solid fa-circle-user" aria-hidden="true"></i>                                          
                    </span>

                    <input asp-for="Nome" class="form-control" disabled="disabled" />
                </div>                
            </div>

            <div class="col-md-12">
                <label asp-for="Endereco" class="form-label"></label>
                <br />
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa-solid fa-address-book" aria-hidden="true"></i>
                    </span>

                    <input asp-for="Endereco" class="form-control" disabled="disabled" />
                </div>                
            </div>
        </div>
    </div>
    
    <div class="card-footer bg-info text-center text-white">
        <a class="btn btn-primary" asp-action="Editar" asp-route-id="@Model.Id">Alterar</a>    
        <a class="btn btn-warning" asp-action="Index">Retornar à listagem de instituições</a>
    </div>
</div>